.container {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    background-color: greenyellow;
    border: 10px black dashed;
  }
  
  label, input {
    display: block;
    margin-bottom: 10px;
}

button:hover{
  background-color: aqua;
}