.App {
    font-family: sans-serif;
 
  }
  
  table,th,td{
    border: 1px solid blue;
  }
  
  table{
    width: 500px;
    margin-bottom: 20PX;
    text-align: center;
  }
  input{
    width: 200px;
    height: 30px;
    font-size: 24px;
    margin-bottom: 20px;
  }